<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ahmad R. | DD3VAHMAD</title>
	</head>
	<body>
		<h1>Ahmad's Portfoli</h1>
		<p>
		👋 **Hey!**, Welcome to my world!

I’m **Ahmad**, a full-stack developer who’s passionate about crafting seamless web experiences. Here’s a bit about what I do:

💻 **Backend**: I thrive on creating fast, scalable APIs that power efficient web applications. Whether it’s Node, Express, PHP, or Laravel, I love building the backbone of great web systems.

🎨 **Frontend**: On the flip side, I’m all about bringing stunning UI to life with JavaScript, Typescript, Nextjs, React, Vue.js, HTML, and CSS. Responsive layouts, intuitive designs, and delightful animations? That’s my playground.

🎯 **Focus**: I’ve got an eye for detail, so I aim to make every interaction smooth and user-friendly, ensuring everything looks and works beautifully across all devices.

🌱 **Currently Learning**: I’m sharpening my skills in the integration of AI models into web applications and exploring even more ways to build better, faster web experiences.

⚡️ If you're looking to collaborate or just chat, feel free to reach out!

📫 **How to reach me**

- [On Twitter](https://x.com/dd3vahmad)
- [On LinkedIn](https://www.linkedin.com/in/rabiuahmad)
- [Via Mail](mailto:ahmadrabiu8787@gmail.com)
</p>
</body>
</html>
