---
import { SITE, LINKS } from "@consts"
import { cn } from "@lib/utils"
const { pathname } = Astro.url
const subpath = pathname.match(/[^/]+/g)
---

<div id="drawer" class="fixed bg-background inset-0 h-0 z-40 overflow-hidden flex flex-col items-center justify-center md:hidden transition-[height] duration-300 ease-in-out">
  <nav class="flex flex-col items-center space-y-2">
    {
      LINKS.map((LINK) => (
        <a 
          href={LINK.HREF} 
          class={cn("flex items-center justify-center px-3 py-1", 
            pathname === LINK.HREF || "/" + subpath?.[0] === LINK.HREF ? 
              "text-big" : "hover:text-big/50")}>
          ~/{LINK.TEXT}
        </a>
      ))
    }
  </nav>
</div>

<style>
  #drawer.open {
    @apply h-full;
  }
</style>
