---
import { SITE, LINKS } from "@consts";
import { cn } from "@lib/utils";
const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g);
import Container from "@components/Container.astro";
import Theahmad from "./theahmad";
---

<header id="header" class="fixed bg-background top-0 w-full h-16 z-50">
  <Container size="xl">
    <div class="h-full w-full flex justify-between items-center">
      <a
        href="/"
        class="text-xl font-bold"
      >
        Ahmad Rabiu
      </a>

      <nav class="hidden md:flex items-center justify-center text-sm gap-1">
        {
          LINKS.map((LINK) => (
            <a
              href={LINK.HREF}
              class={cn(
                "h-8 rounded-full px-3 text-current",
                "flex items-center justify-center",
                pathname === LINK.HREF || "/" + subpath?.[0] === LINK.HREF
                  ? "text-big"
                  : "hover:text-big/50"
              )}
            >
              ~/{LINK.TEXT}
            </a>
          ))
        }
      </nav>
    </div>
  </Container>
</header>

<style>
  #header-drawer-button > #drawer-open {
    @apply block;
  }

  #header-drawer-button > #drawer-close {
    @apply hidden;
  }

  #header-drawer-button.open > #drawer-open {
    @apply hidden;
  }

  #header-drawer-button.open > #drawer-close {
    @apply block;
  }
</style>

<script is:inline>
  function toggleDrawer() {
    const drawer = document.getElementById("drawer");
    const drawerButton = document.getElementById("header-drawer-button");
    drawer?.classList.toggle("open");
    drawerButton?.classList.toggle("open");
  }

  function initializeDrawerButton() {
    const drawerButton = document.getElementById("header-drawer-button");
    drawerButton?.addEventListener("click", toggleDrawer);
  }

  document.addEventListener("astro:after-swap", initializeDrawerButton);
  initializeDrawerButton();
</script>
